{% extends "base.html" %} {% block content %}

<!-- if action travel -->
{% if action == "travel" %}
<p>You arrived at {{ game.current_location.city_name }}</p>
{% endif %} {% if event %}
<p>{{ event.name }}</p>
<p>{{ event.description }}</p>

<!-- if event requires input -->
{% if event.requires_input %}
<form
  method="POST"
  action="{{ url_for('pages.handle_event', game_id=game.id) }}"
>
  {% for option in event.options %}
  <button type="submit" name="choice" value="{{ option.id }}">
    {{ option.text }}
  </button>
  {% endfor %}
</form>

<!-- if event does not require input -->
{% else %}
<a href="{{ url_for('pages.show_game', game_id=game.id) }}">
  <button type="button">Enter to continue...</button>
</a>
{% endif %} {% endif %} {% endblock %}
