{% extends "base.html" %} {% block content %}
<h2>Event: {{ event.name }}</h2>
<p>{{event.description }}</p>

<hr />

{%if event.requires_input%}

<!-- SHOW FORM ONLY IF NEEDED -->
<form method="POST" action="{{ url_for('game.handle_event') }}">
  {% for option in event.options %}
  <button name="choice" value="{{ option.id }}">
    {{ loop.index }}. {{ option.text }}
  </button>
  <br /><br />
  {% endfor %}
</form>

{% else %}
<form method="POST" action="{{ url_for('game.handle_auto_event') }}">
  <button type="submit">Continue</button>
</form>

{% endif %} {% endblock %}
