{% extends "base.html"%} {%block content %}

<h2>Day {{game.current_day}} | {{game.current_location.city_name }}</h2>
<ul>
  <li>Cash: {{game.cash}}</li>
  <li>Morale: {{game.morale}}</li>
  <li>Coffee: {{game.coffee}}</li>
  <li>Hype: {{game.hype}}</li>
  <li>Bugs: {{game.bugs}}</li>
  <li>
    Progress: {{game.progress}} to {{game.destination_location.city_name}}
  </li>
</ul>

<p>What will you do?</p>

<form method="POST" action="{{ url_for('game.move') }}">
  <button name="action" value="travel">1. Travel to next location</button
  ><br /><br />
  <button name="action" value="rest">
    2. Rest and recover (restore morale, use coffee)</button
  ><br /><br />
  <button name="action" value="work">
    3. Work on product (reduce bugs, use coffee)</button
  ><br /><br />
  <button name="action" value="network">
    4. Marketing push (increase hype, costs money)</button
  ><br /><br />
  <button name="action" value="save">5. Save game</button><br /><br />
  <button name="action" value="quit">6. Quit to menu</button>
</form>

{% endblock %}
