{% extends "base.html"%} {%block content %}

<h2>Day {{game.current_day}} | {{game.current_location.city_name }}</h2>
<p>{{game.current_location.description}}</p>
<ul>
  <li>Cash: {{game.cash}}</li>
  <li>Morale: {{game.morale}}</li>
  <li>Coffee: {{game.coffee}}</li>
  <li>Hype: {{game.hype}}</li>
  <li>Bugs: {{game.bugs}}</li>
  <li>
    Progress: {{progress}} % ({{days_left}} days) to
    {{game.destination_location.city_name}}
  </li>
</ul>

{% if weather_data %}
<p>
  Weather: {{ weather_data.description }}, {{ weather_data.temperature }} °F
</p>
{% else %}
<p>Weather: unavailable</p>
{% endif %}

<!-- weather warning -->
{% if weather_warning %}
<p>{{weather_warning}}</p>
{% endif %}

<!-- message -->
{% if message %}
<p>{{message}}</p>
{% endif %}

<!-- game over -->
{% if game_over %}
<p>{{ message }}</p>
<a href="{{ url_for('pages.home') }}">
  <button type="button">Return to menu</button>
</a>
{% else %}

<!-- actions -->

<p>What will you do?</p>

<form
  method="POST"
  action="{{ url_for('pages.handle_move', game_id=game.id) }}"
>
  <button name="action" value="travel">1. Travel to next location</button
  ><br /><br />
  <button name="action" value="rest">
    2. Rest and recover (restore morale, use coffee)</button
  ><br /><br />
  <button name="action" value="work">
    3. Work on product (reduce bugs, use coffee)</button
  ><br /><br />
  <button name="action" value="marketing">
    4. Marketing push (increase hype, costs money)</button
  ><br /><br />
  <button name="action" value="save">5. Save game</button><br /><br />
  <button name="action" value="quit">6. Quit to menu</button>
</form>
{% endif %} {% endblock %}
