{% extends 'base.html' %} {%block content %}

<p>
  Your scrappy startup team is embarking on a journey from San Jose to San
  Francisco to pitch a Series A funding!
</p>

<p>Manage your resources wisely:</p>
<ul>
  <li>Cash: Dont run out</li>
  <li>Morale: Keep your team happy</li>
  <li>Coffee: Essential fuel (2 days without = lose 2 days)</li>
  <li>Hype: Public interest in your startup</li>
  <li>Bugs: Keep them under control</li>
</ul>

<p>Good luck, founder !</p>

<p>Press Enter to begin your journey...</p>

{% if game_id %}
<a href="{{ url_for('pages.show_game', game_id=game_id) }}">
  <button>Start Journey</button></a
>
{% endif %} {% endblock %}
