{% extends "base.html" %} {% block header %}
<h2>{% block title %}Main Menu{% endblock title %}</h2>
{% endblock header %} {% block content %}

<form method="POST" action="{{url_for('game.intro')}}">
  <button name="choice" value="1">1. New Game</button><br /><br />
</form>
<button name="choice" value="2">2. Load Game</button><br /><br />
<button name="choice" value="3">3. Quit</button>

{% endblock content %}
<script>
  document.addEventListener("keyup", function (event) {
    if (event.key === "Enter") {
      // Trigger your function or click a button
      document.getElementById("submit-button").click();
    }
  });
</script>
