<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Silicon Valley Trail</title>
  </head>
  <body>
    <section>
      <header>
        <h1>Silicon Valley Trail</h1>
      </header>

      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <p class="flash {{ category }}">{{ message }}</p>
      {% endfor %} {% endif %} {% endwith %}

      <main>{% block content %} {% endblock %}</main>
    </section>
  </body>
</html>
